body {
    margin: 0;
  }
  .box1 {
    border: 10px solid navy;
    width: 200px;
    height: 200px;
    background-color: red;
    size: 10px;
    margin: 2px 2px;
    padding: 25px;
  }
  .box2 {
    border: 10px solid greenyellow;
    width: 200px;
    height: 200px;
    background-color: blue;
    size: 10px;
    margin: 0px;
    padding: 25px;
  }
  .box3 {
    border: 10px solid magenta;
    width: 200px;
    height: 200px;
    background-color: turquoise;
    size: 10px;
    margin: 0px;
    padding: 25px;
  }
  